<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <!-- タイトルブロックを定義 -->
    <title>
        {% block title %}
        <!-- ここにタイトルを表示 -->
        {% endblock %}
    </title>
</head>

<body class="p-3">
    <header>
        <h1 class="has-background-primary p-3 mb-3">
            <!-- ヘッダブロックを定義 -->
            {% block header %}
            <!-- ここにヘッダを表示 -->
            {% endblock %}
        </h1>
    </header>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ url_for('index') }}">トップ</a></li>
            <li><a href="{{ url_for('word_list') }}">単語リスト</a></li>
        </ul>
    </nav>
    <main>
        <!-- コンテンツブロックを定義 -->
        {% block contents %}
        <!-- ここにコンテンツを表示 -->
        {% endblock %}
    </main>
</body>

</html>